<!-- adapted from https://github.com/abourget/gevent-socketio/tree/master/examples/django_chat -->
{% extends "base.html" %}

{% block title %}{{ room }}{% endblock %}

{% block extra_js %}
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ STATIC_URL|default:MEDIA_URL }}js/socket.io.js"></script>
<script>WEB_SOCKET_SWF_LOCATION="{{ STATIC_URL }}flashsocket/WebSocketMain.swf"; window.room = "{{ room.id }}";</script>
<script src="{{ STATIC_URL }}js/chat.js"></script>
<script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
  </script>
  <script type="text/javascript"
      src="http://malsup.github.com/min/jquery.form.min.js">
  </script>
{% endblock %}

{% block main %}
<div style="width: 100%; overflow: hidden; margin-top: 20px;">
  <div id="nicknames" style="width: 180px; float: left;"><b>Players:</b></div>
  <div id="chat" style="margin-left: 20px; width:600px;">
    <div id="nickname">
      <form id="set-nickname" class="wrap">
        <p>Please type in your nickname and press enter.</p>
        <input id="nick">
        <p id="nickname-err">Nickname already in use</p>
      </form>
    </div>
    <div id="connecting">
      <div class="wrap">Connecting to socket.io server</div>
    </div>
    <div id="messages">
      <div id="lines"></div>
    </div>
    <form id="send-message">
      <input id="message">
      <button>Send</button>
    </form>
  </div>
  <div id="info" style="margin-left: 850px; width:250px;"></div>
  <div id="actions" style="margin-left: 850px; width:250px;">
    <div id="starting" style="margin-top: 70px">
      <form id="start-game">
        <button>Start Game</button>
      </form>
    </div>
    <div id="voting" style="margin-top: 110px">
      <form id="lock-vote">
        <button>Lock in vote</button>
      </form>
      <form id="end-day">
        <button>End day phase</button>
      </form>
      <form id="send-vote" action="vote_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="vote" type="text"/>
        <input id="submit_vote" type="submit" value="Vote" />
      </form>  
    </div>

    <div id="nightactions" style="margin-top: 240px">
    <form id="targetform" action="mafia_form" method="post">
    {% csrf_token %}
      {{ form.as_p }}
      <input id="target" type="text"/>
      <input id="submit_kill" type="submit" value="Kill" style="margin-top: 2px"/>
    </form>
    <form id="investigation" action="cop_form" method="post" style="margin-top: 10px">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="investigate" type="text" style="margin-top: 30px"/>
      <input id="submit_cop" type="submit" value="Investigate" />
    </form>
    <form id="healing" action="doctor_form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="heal" type="text" style="margin-top: 10px"/>
      <input id="submit_doctor" type="submit" value="Heal" />
    </form> 
    <form id="end_night">
      <button style="margin-top: 25px">End night phase</button>
    </form>
    </div>
  </div>
  <form id="quit">
    <button style="margin-left: 190px;">Quit</button>
  </form>
  <script type="text/javascript">
      $(function() {
        // ajaxSetup taken from https://docs.djangoproject.com/en/1.4/ref/contrib/csrf/
        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });

          $("#submit_kill").click(function(event) {
              event.preventDefault();
              $.ajax({
                  url: "/mafia_form",
                  type: 'POST',
                  data: {
                    'target': $('#target').val(),
                    'room':  "{{room}}",
                  },
                  // beforeSend: function() {
                  //     $("#message").html("sending...");
                  // },
                  success: function(data) {
                    console.log(data);
                    alert($('#target').val() + ' will be killed');
                      // $("#message").hide();
                      // $("#response").html(data);
                  },
              });
          });
          $("#submit_vote").click(function(event) {
              event.preventDefault();
              $.ajax({
                  url: "/vote_form",
                  type: 'POST',
                  data: {
                    'votedFor': $('#vote').val(),
                    'room':  "{{room}}",
                  },
                  // beforeSend: function() {
                  //     $("#message").html("sending...");
                  // },
                  success: function(data) {
                    console.log(data);
                    alert($('#vote').val() + ' will be voted for');
                      // $("#message").hide();
                      // $("#response").html(data);
                  },
              });
          });
          $("#submit_cop").click(function(event) {
              event.preventDefault();
              $.ajax({
                  url: "/cop_form",
                  type: 'POST',
                  data: {
                    'investigated': $('#investigate').val(),
                    'room':  "{{room}}",
                  },
                  // beforeSend: function() {
                  //     $("#message").html("sending...");
                  // },
                  success: function(data) {
                    console.log(data);
                    alert($('#investigate').val() + ' will be investigated');
                      // $("#message").hide();
                      // $("#response").html(data);
                  },
              });
          });
          $("#submit_doctor").click(function(event) {
              event.preventDefault();
              $.ajax({
                  url: "/doctor_form",
                  type: 'POST',
                  data: {
                    'healed': $('#heal').val(),
                    'room':  "{{room}}",
                  },
                  // beforeSend: function() {
                  //     $("#message").html("sending...");
                  // },
                  success: function(data) {
                    console.log(data);
                    alert($('#heal').val() + ' will be healed');
                      // $("#message").hide();
                      // $("#response").html(data);
                  },
              });
          });
      });
      </script>
</div>

{% endblock %}
